body{
    margin:0;
    background-color:black;
    text-align: center;
    line-height: 1.1;

}
#image{
    position: absolute;
    background: url(3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.3;
    }
    .showcase{
        font-family:Georgia, 'Times New Roman', Times, serif
        min-height: 500px;
        text-align: center;
    font-size: 25px;
    color: white;
}
.showcase h1{margin-top:0;
padding-top: 90px;
font-weight: 100;}
 #paraghraf-first{padding-top: 100px;
font-weight: 100;}

/*flexbox*/
.flexbox-container{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid pink;
    background-color: white;
    line-height: 2em;
}
.flexbox-item-1{ min-height: 100px;
color: rgb(105, 248, 105);}
.flexbox-item-2{ min-height: 200px; color: rgb(72, 140, 243);}
.flexbox-item-3{ min-height: 300px;
color: pink;}
.story{
    background-color: white;
}
h2{ padding-top: 30px;}
.story p {padding-bottom: 30px;}
#purple{color:rgb(118, 79, 150);}
.end{float: left;
display: inline-block;}
#mahtab{color: white;
padding-top: 80px;}











